# General
.DS_Store
.vscode
.idea
/node_modules

# Logs
logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Archiving, Testing
archive
testing
playground
downloads
temp
out

# Temporary
*.tmp

# Build
/public/bundle-client.js.map
/public/main.css.map
