:local(.pageHeaderStyles) {
  text-align: center;
  margin-bottom: 3rem;
}

:local(.pageHeaderTitleStyles) {
  font-weight: 700;
  font-size: 3rem;
}

:local(.pageHeaderSubtitleStyles) {
  // Empty for now
}
