html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.topnav {
  position: fixed;
  width: 100%;
  z-index: 99;
}

#topnav.open {
  height: 100%;
  z-index: 999;
  background-color: #000;
  transition: 0.5s;
  opacity: 0.9;
}

.logo {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.25em;
  letter-spacing: 0.05em;
  color: #fff;
  text-decoration: none;
}

.logo-dark {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.25em;
  letter-spacing: 0.05em;
  color: #000;
  text-decoration: none;
}

#logo.open {
  color: #fff;
  transition: 0.5s;
}

.section {
  height: 100%;
  width: 100%;
}

#background {
  height: 100%;
  width: 100%;
}

.option-container {
  width: 100%;
}

.option-container ul {
  margin-top: 10em;
  text-align: center;
  list-style-type: none;
}

.option-1, .option-2, .option-3 {
  z-index: 99;
  display: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  word-spacing: 0.5em;
  text-decoration: none;
}

.option-1:hover, .option-2:hover, .option-3:hover {
  z-index: 99;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

#option-1.open, #option-2.open, #option-3.open {
  margin: 0;
  display: block;
}

.menu {
  position: fixed;
  top: 25px;
  right: 2em;
  z-index: 99;
  color: #fff;
  text-decoration: none;
}

/* Nav Icon */
#nav-icon, #nav-icon-dark {
  width: 2em;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span, #nav-icon-dark span {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  left: 0;
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
       -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

#nav-icon-dark span {
  background: #000;
}

#nav-icon span:nth-child(1), #nav-icon-dark span:nth-child(1) {
  top: 1.25em;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3),
#nav-icon-dark span:nth-child(2), #nav-icon-dark span:nth-child(3) {
  top: 1.9em;
}

#nav-icon span:nth-child(4), #nav-icon-dark span:nth-child(4) {
  top: 2.5em;
}

#nav-icon.open span:nth-child(1), #nav-icon-dark.open span:nth-child(1) {
  top: 1.25em;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2), #nav-icon-dark.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3), #nav-icon-dark.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4), #nav-icon-dark.open span:nth-child(4) {
  top: 1.25em;
  width: 0%;
  left: 50%;
}

#menu-1.open, #menu-2.open, #menu-3.open, #menu-4.open {
  background-color: #fff;
  color: #fff;
}

/* Homepage Styles */
.home-text-container {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  z-index: 99;
}

.home-title, .home-text, .home-text-link {
  font-family: 'Roboto';
  color: #fff;
  font-weight: 300;
}

.home-title {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.home-text {
  font-size: 1em;
  margin-bottom: 1em;
}

.home-text-link {
  font-size: 1em;
}

.home-text-link a {
  color: #fff;
  text-decoration: none;
}

.home-text-link a:hover {
  color: #ff00ff;
}

/* Home Footer Styles */
.home-footer {
  position: absolute;
  width: 100%;
  bottom: 2em;
  z-index: 99;
}

.footer-content {
  font-family: 'Roboto';
  color: #fff;
  font-weight: 100;
  font-size: 0.75em;
  text-align: center;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ff00ff;
  text-decoration: none;
}

/* About, Project Styles */
.title-container {
  width: 100%;
  margin-top: 6em;
  margin-bottom: 6em;
  text-align: center;
}

.title-container hgroup h1,
.title-container hgroup h2,
.title-container hgroup p {
  font-family: 'Roboto';
  font-style: normal;
	font-variant: normal;
}

.title-container hgroup h1 {
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0.1em;
}

.title-container hgroup h2 {
  font-weight: 100;
  font-size: 1.2em;
  margin-bottom: 3em;
}

.title-container hgroup p {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-weight: 100;
  font-size: 1em;
}

.title-container hgroup p.quote {
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: 3em;
}

.title-container hgroup p a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.title-container hgroup p a:hover {
  color: #ff00ff;
}

/* Footer Style */
footer {
  height: 12em;
  width: 100%;
  background-color: #000;
}

.bottomnav a {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;

}

.bottomnav a:hover {
  color: #ff00ff;
}

.bottomnav, .bottomnav a, .bottomnav span {

  color: #cccccc;
  text-decoration: none;
  padding-top: 50px;
  padding-left: 20px;
}

.bottomnav {
  padding-left: 35%;
}



.footer-text {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;
  color: #cccccc;
  padding-top: 50px;
  padding-left: 40%;
}

.footer-copyright {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 10px;
  color: #cccccc;
  padding-top: 15px;
  padding-left: 43%;
}









.logo-contact {
  position: fixed;
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  word-spacing: -2px;
  font-size: 28pt;
  color: #ffffff;
  top: 30px;
  left: 30px;
  text-decoration: none;
  z-index: 99;
}

/* Nav Icon Contact*/
#nav-icon-contact {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon-contact span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon-contact span:nth-child(1) {
  top: 20px;
}

#nav-icon-contact span:nth-child(2),#nav-icon-contact span:nth-child(3) {
  top: 30px;
}

#nav-icon-contact span:nth-child(4) {
  top: 40px;
}

#nav-icon-contact.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon-contact.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon-contact.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon-contact.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.projects-title {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 60px;
  padding-top: 8%;
  padding-left: 30%;
  color: #393939;
}

.projects-title-page {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 60px;
  padding-top: 8%;
  padding-left: 35%;
  color: #393939;
}



.projects-description {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 25%;
  color: #393939;
}

.about-description {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 27%;
  color: #393939;
}

.about-paragraph {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
  color: #393939;
}

.about-paragraph span {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
}

.about-quote {
  font-family: Raleway;
  font-weight: bold;
  font-style: italic;;
	font-variant: normal;
  font-size: 60px;
  text-align: right;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
  color: #393939;
}

.projects-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
}

.projects-container-home {
  padding-left: 10%;
  padding-right: 10%;
  height: 45%;
}

.projects-viewall {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 22%;
  color: #393939;
}

a.projects-viewall {
  color: #393939;
  text-decoration: none;
}

a.projects-viewall:hover {
  color: #ff00ff;
}

.projects-container span {
  padding-right: 5px;
}

.projects-container span a {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 12px;
  color: #393939;
}

.card {
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  height: 90%;
  width: 29%;
  margin: 1rem;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-projects {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-projects:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 24px;
  color: #393939;
  padding-top: 50%;
  padding-left: 5%;
}

.projects-container .card-view {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 12px;
  color: #393939;
  padding-top: 10px;
  padding-left: 5%;
  padding-bottom: 5%;
}

.card-title a {
  color: #393939;
  text-decoration: none;
}

.card-title a:hover {
  color: #ff00ff;
}

.card-description {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 12px;
  color: #393939;
  padding-top: 10px;
  padding-left: 5%;
}

.card-view {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 12px;
  color: #393939;
  padding-top: 10px;
  padding-left: 5%;
}

.card-view a {
  color: #393939;
  text-decoration: none;
}

.card-view a:hover {
  color: #ff00ff;
}

.twitter-title {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 60px;
  padding-top: 3%;
  padding-left: 30%;
  color: #393939;
}

.twitter-description {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 25%;
  color: #393939;
}

.twitter-description a {
  color: #6600ff;
  text-decoration: none;
}

.twitter-description a:hover {
  color: #ff00ff;
}

.twitter-feed {
  padding-top: 20px;
  padding-left: 23%;
  padding-right: 23%;
}

.contact-container {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 25px;
  padding-top: 80px;
  padding-left: 15%;
  padding-right: 10%;
  color: #ffffff;
}

.contact-container .contact:nth-child(1) {
  display: inline-block;
  padding-left: 0%;
  padding-right: 7%;
}

.contact-container .contact:nth-child(2) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #cccccc;
  display: inline-block;
  padding-left: 7%;
  padding-right: 7%;
}

.contact-container .contact:nth-child(3) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #cccccc;
  display: inline-block;
  padding-left: 7%;
  padding-right: 7%;
}

.contact-container .contact:nth-child(4) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #cccccc;
  display: inline-block;
  padding-left: 7%;
}

.contact .contact-title {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  padding-bottom: 15px;
}

.contact .contact-text {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 12px;
  padding-bottom: 30px;
}

.contact a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.contact a:hover {
  color: #ff00ff;
}


.section-contact {
  height: 100%;
  width: 100%;
  background-color: #202020;
}

.subsection {
  height: 60%;
  width: 100%;
  background-color: #d3d3d3;
}


.sec-contact {
  background-color: #151515;
  background-size: 100%;
  background-repeat: no-repeat;
}


.sec-projects {
  height: auto;
  background-color: #ffffff;
  padding-bottom: 50px;
}
