html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.topnav {
  position: fixed;
  width: 100%;
  z-index: 99;
}

#topnav.open {
  height: 100%;
  z-index: 999;
  background-color: #000;
  transition: 0.5s;
  opacity: 0.9;
}

.logo {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.25em;
  letter-spacing: 0.05em;
  color: #fff;
  text-decoration: none;
}

.logo-dark {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 99;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.25em;
  letter-spacing: 0.05em;
  color: #000;
  text-decoration: none;
}

#logo.open {
  color: #fff;
  transition: 0.5s;
}

.section {
  height: 100%;
  width: 100%;
}

.section-dark {
  height: auto;
  width: 100%;
  background-color: #1f1f1f;
}

.section-auto {
  height: auto;
  width: 100%;
}

#background {
  height: 100%;
  width: 100%;
}

.option-container {
  width: 100%;
}

.option-container ul {
  padding-left: 0;
  margin-top: 10em;
  text-align: center;
  list-style-type: none;
}

.option-1, .option-2, .option-3, .option-4 {
  z-index: 99;
  display: none;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  word-spacing: 0.5em;
  text-decoration: none;
}

.option-1:hover, .option-2:hover, .option-3:hover, .option-4:hover {
  z-index: 99;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

#option-1.open, #option-2.open, #option-3.open, #option-4.open {
  margin: 0;
  display: block;
}

.menu {
  position: fixed;
  top: 25px;
  right: 2em;
  z-index: 99;
  text-decoration: none;
}

/* Nav Icon */
#nav-icon, #nav-icon-dark {
  width: 2em;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  left: 0;
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
       -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

#nav-icon-dark span {
  display: block;
  position: absolute;
  height: 0.3em;
  width: 100%;
  background: #000;
  border-radius: 0px;
  left: 0;
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
       -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1), #nav-icon-dark span:nth-child(1) {
  top: 1.25em;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3),
#nav-icon-dark span:nth-child(2), #nav-icon-dark span:nth-child(3) {
  top: 1.9em;
}

#nav-icon span:nth-child(4), #nav-icon-dark span:nth-child(4) {
  top: 2.5em;
}

#nav-icon.open span:nth-child(1), #nav-icon-dark.open span:nth-child(1) {
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2), #nav-icon-dark.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3), #nav-icon-dark.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4), #nav-icon-dark.open span:nth-child(4) {
  width: 0%;
  left: 50%;
}

#menu-1.open, #menu-2.open, #menu-3.open, #menu-4.open {
  background-color: #fff;
  color: #fff;
}

/* Homepage Styles */
.home-text-container {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  z-index: 99;
}

.home-title, .home-text, .home-text-link {
  font-family: 'Roboto';
  color: #fff;
  font-weight: 300;
}

.home-title {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.home-text {
  font-size: 1em;
  margin-bottom: 1em;
}

.home-text-link {
  font-size: 1em;
}

.home-text-link a {
  color: #fff;
  text-decoration: none;
}

.home-text-link a:hover {
  color: #ff00ff;
}

/* Home Footer Styles */
.home-footer {
  position: absolute;
  width: 100%;
  bottom: 2em;
  z-index: 99;
}

.footer-content {
  font-family: 'Roboto';
  color: #fff;
  font-weight: 100;
  font-size: 0.75em;
  text-align: center;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ff00ff;
  text-decoration: none;
}

/* About, Project, Contact Styles */
.title-container {
  width: 100%;
  padding-top: 8em;
  padding-bottom: 6em;
  text-align: center;
  z-index: -1;
}

.title-container hgroup h1,
.title-container hgroup h2,
.title-container hgroup p {
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
	font-variant: normal;
}

.title-container hgroup h1 {
  margin-left: 15%;
  margin-right: 15%;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0.1em;
}

.title-container hgroup h2 {
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 100;
  font-size: 1.2em;
  margin-bottom: 3em;
}

.title-container hgroup p {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-weight: 100;
  font-size: 1em;
}

.title-container hgroup p.quote {
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: 3em;
}

.title-container hgroup p a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.title-container hgroup p a:hover {
  color: #ff00ff;
}

.light {
  color: #fff;
}

/* Contact Styles */
.contact-container {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: -7em;
  margin-bottom: 4em;
  color: #fff;
}

.contact-container .contact {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
}

.contact .contact-title,
.contact .contact-text {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
	font-variant: normal;
}

.contact .contact-title {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 2em;
}

.contact .contact-text {
  padding-bottom: 2em;
  font-size: 1em;
}

.contact a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.contact a:hover {
  color: #ff00ff;
}

/* Footer Style */
footer.page {
  height: 12em;
  width: 100%;
  background-color: #1f1f1f;
}

.bottomnav {
  padding-top: 2.5em;
  text-align: center;
}

.bottomnav a, .bottomnav span {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
	font-variant: normal;
  color: #ccc;
  font-size: 1.2em;
}

.bottomnav a:hover {
  color: #ff00ff;
}

.bottomnav span {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.footer-text, .footer-copyright {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
	font-variant: normal;
  color: #ccc;
  text-align: center;
}

.footer-text {
  font-size: 1.2em;
  padding-top: 2em;
}

.footer-text a {
  color: #ccc;
  text-decoration: none;
}

.footer-text a:hover {
  color: #ff00ff;
}

.footer-copyright {
  font-size: 0.5em;
  padding-top: 2em;
}

/* Projects Styles */
.projects-container {
  height: 100%;
  text-align: center;
  margin-top: -8em;
  margin-bottom: 5em;
  margin-left: 10%;
  margin-right: 10%;
}

.projects-container span {
  padding-right: 5px;
}

.projects-container span a {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
	font-variant: normal;
  font-size: 1em;
  color: #393939;
}

.card {
  height: 18em;
  width: 18em;
  margin: 1em;
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title,
.card-description,
.card-view {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
	font-variant: normal;
  color: #393939;
}

.card-title {
  font-size: 1.5em;
  padding-top: 50%;
  padding-left: 5%;
}

.card-title a {
  color: #393939;
  text-decoration: none;
}

.card-title a:hover {
  color: #ff00ff;
}

.card-description {
  font-weight: 300;
  font-size: 0.75em;
  padding-top: 1.25em;
  padding-left: 5%;
}

.card-view {
  font-weight: 300;
  font-size: 0.75em;
  padding-top: 1.25em;
  padding-left: 5%;
  padding-bottom: 5%;
}

.card-view a {
  color: #393939;
  text-decoration: none;
}

.card-view a:hover {
  color: #ff00ff;
}
