:local(.irene2BackgroundStyles) {
  width: 100wh;
  height: 100vh;
  color: #FFF;
  background: #000;
  background-size: 400% 400%;
}

:local(.irene2ContainerStyles) {
  position: relative;
  height: 100%;
  width: 100%;
}
