body {
  padding: 0;
  margin: 0;
}

canvas {
  vertical-align: top;
}

div.title {
  position: fixed;
  margin-top: 30px;
  margin-left: 30%;
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
	font-variant: normal;
  font-size: 36px;

  color: #fff;
}

div.subtitle_container {
  position: fixed;
  max-width: 550px;
  margin-top: 90px;
  margin-left: 30%;
  text-align: left;
  color: #fff;
}

div.content {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
	font-variant: normal;
  font-size: 14px;
}

input.content {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 300px;
}

a.content {
  color: #fff;
  text-decoration: none;
}

 a.content:hover {
   color: #7fffd4;
 }

 form {
   font-family: gotham-light;
   font-size: 14px;
 }
