:local(.homeStyles) {
  h1 {
    color: black;
  }
}

:local(.homeLeftStyles) {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff7f8;
}

:local(.homeRightStyles) {
  padding: 0;
  height: 100vh;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

:local(.tiltStyles) {
  height: 100%;
  width: 100%;
}

:local(.someStyles) {
  width: 250px;
  height: 250px;
}
